*{
    margin: 0;
    padding: 0;
}



.container2{
    text-align: center;
    margin-top: 313.7px;
    justify-content: space-around;
}

h1{
    font-size: 80px;
    margin-top: 313.7px ;
    color: white;
    margin-bottom: 57.28px;
}

p{
    text-align: center;
    color: white;
    margin-bottom: 24.62px;
}

.btn{
    text-align: center;
    align-items: center;
}

.collapse.navbar-collapse{
    margin-left: 142px;
}

.btn.btn-warning{
    text-align: center;
    margin-bottom: 285.22px;
}

.container-fluid{
    text-align: center;
}

.conto{
    background-image: url(./main-bg.jpg);
    background-size: cover;
}

.segitiga1{
    height:0px;
    width:0px;
    border-top:solid 30px white;
    border-left:solid 20px transparent;
    border-right:solid 20px transparent;
}

.box1{
    
    padding-bottom: 52.12px;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    position: relative;
}

.box2{
    
    display: inline-block;
}

.box3{
    background-image: url(./the-games-bg.jpg);
    background-size: cover;
    border: 1px solid red;
    display: flex;
}

h3{
    font-size: 24px;
    color: white;
    margin-bottom: 13.56px;
}

.container3{
    border: 1px solid white;
    display: inline-block;
    margin-top: 254.81px;
    margin-left: 83.56px;
}

#thegame{
    color: white;
    font-size: 56px;
}

.container4{
    background-image: url(./rockpaperstrategy-1600.jpg);
    border: 1px solid yellow;
    position: relative;
    background-size: cover;
    display: inline-block;
    width: 858px;
    height: 477px;
    margin-top: 282.02px;
    margin-left: 4.39px;
}