*{
    margin: 0;
    padding: 0;
}



.container2{
    text-align: center;
    margin-top: 313.7px;
    justify-content: space-around;
}

.play1{
    font-size: 3rem;
    color: white;
    margin-top: 313.7px;
    margin-bottom: 57.28px;
}

.experience{
    text-align: center;
    color: white;
    margin-bottom:24.62px;
}
.thestor{
    text-align: center;
    color: white;
    margin-bottom: 24.62px;
}

.btn{
    text-align: center;
    align-items: center;
}

.collapse.navbar-collapse{
    margin-left: 142px;
}

.btn.btn-warning{
    text-align: center;
    margin-bottom: 285.22px;
}

.container-fluid{
    text-align: center;
    padding: 0;
}

.conto{
    background-image: url(./main-bg.jpg);
    background-size: cover;
}

.segitiga1{
    height:0px;
    width:0px;
    border-top:solid 30px white;
    border-left:solid 20px transparent;
    border-right:solid 20px transparent;
}

.box1{

    padding-bottom: 52.12px;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    position: relative;
}

.box2{

    display: inline-block;
}

.box3{
    background-image: url(./the-games-bg.jpg);
    background-size: cover;

    display: flex;
}

h3{
    font-size: 24px;
    color: white;
    margin-bottom: 13.56px;
}

.container3{

    display: inline-block;
    margin-top: 254.81px;
    margin-left: 83.56px;
}

#thegame{
    color: white;
    font-size: 56px;
}

.container4{


    position: relative;
    background-size: cover;
    display: inline-block;
    width: 858px;
    height: 477px;
    margin-top: 282.02px;
    margin-left: 4.39px;

}

#carouselExampleIndicators{

    text-align: center;
    align-items: center;
    position: relative;
    display: inline-block;
    margin-bottom: 282.03px;
}

img{
    text-align: center;
    align-items: center;

}

.bungkusbatu{

    text-align: center;
    align-items: center;
    display: block;
    position: relative;
}

.container5{
    background-image: url(./features.jpg);
    background-size: cover;
    padding-right: 1rem;
    padding-left: 50rem;
    padding-top: 167.97px;
}

.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}

.carousel-control-next-icon{
    margin-right: -170.82px;
}

.carousel-control-prev-icon{
    margin-left: -170.82px;
}

.d-block{
    width: 858px;
    height: 400px;
}

.feature1{
    color: #FFB548;
    padding-bottom: 10px;

}
.FEATURES{
    color: white;
    padding-bottom: 70.75px;
}

.text-off-feature{
    color: white;
    padding-bottom: 27.75px;
}


.feature2{
    color: #FFB548;
    padding-bottom: 100.71px;
}

.feature3{
    color: #FFB548;
    padding-bottom: 255px;
}

.box6{

padding-bottom: 259px;

}

.box7{

    border: 1px solid white;
    display: inline-block;
}

.box8{
    border: 1px solid red;
}

ul.ulatas {
  list-style: none;;
  position: relative;
}

ul.ulatas li:first-child::before {
    border-radius: 100%;
    background: white;
    font-weight: bold;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: -1em;
}

ul.ulatas li::before {
    border-radius: 100%;
    content: " ";
    font-weight: bold;
    border: 1px solid white;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: -1em;
}

ul.ulatas:before {
    content: " ";
    width: 2px;
    height: 61%;
    background: white;
    position: absolute;
    display: inline-block;
    left: 22px;
    margin-top: 10px;
}

ul.ulatas li p:first-child {
  display: inline;
}

ul.ulatas li {
   margin-bottom: 1rem;
}
.bg-cave {
    background-image: url('./requirements.png');
    color: white;
    padding: 18rem 5rem;
}

.background4{
    color: white;
    background-image: url(./requirements.png);
    padding-bottom: 207px;
    background-size: cover;
}

.header3-4{
    color: white;
    padding-top: 100px;
    padding-bottom: 54.29px;
}

.header1-4{
    color:white;
    padding-left: 133px;
    margin-bottom: 87.73px;
}

.bungkusbag4{
    padding-left: 121.77px;
}

.bungkusbag5{
    background-color: black;
    padding-top: 160px;
}

.top1{
    margin-left: 100px;
}

.abc{
  
    padding-left: 130px;
    margin-bottom: 29px;
}

.abcd{
   
    margin-bottom: 30px;
}

.abcde{
    
    padding-left: 90px;
}

.imgr{
    width: 30%;
    height: 30%;
    border-radius: 100%;
}

.imgr1{
    width: 30%;
    height: 30%;
    border-radius: 100%;
}

.imgr2{
    width: 30%;
    height: 30%;
    border-radius: 100%;
}
/* @media only screen and (max-width: 300px) {

       text-align: center; } } */